* {
font-family: 'cocogoose-light', sans-serif;
--red: #ED1C24;
--yellow: #FFE74C;
--blue: #00A7E1;
--green: #42B366;
--charcoal: #40474F;
--light-red: #f25a5a;
--light-yellow: #FFE74C;
--light-blue: #00A7E1;
--light-green: #42B366;
--light-charcoal: #40474F;
}

@font-face {
    font-family: 'cocogoose-normal';
    src: url(./assets/fonts/Cocogoose\ Pro-trial.ttf)
}
@font-face {
    font-family: 'cocogoose-light';
    src: url(./assets/fonts/Cocogoose\ Pro\ Light-trial.ttf)
}
@font-face {
    font-family: 'cocogoose-ultralight';
    src: url(./assets/fonts/Cocogoose\ Pro\ Ultralight-trial.ttf)
}
@font-face {
    font-family: 'cocogoose-thin';
    src: url(./assets/fonts/Cocogoose\ Pro\ Thin-trial.ttf)
}
@font-face {
    font-family: 'cocogoose-semilight';
    src: url(./assets/fonts/Cocogoose\ Pro\ Semilight-trial.ttf)
}

a {
    background-color: var(--blue);
    margin: 0px 50px 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: white;
    font-family: cocogoose-thin;
    font-size: 1.5em;
}

a:hover {
    background-color: var(--red);
}

h1 {
    font-family: cocogoose-normal;
    margin: 10px;
    font-size: 3em;
}

h2 {
    /* font-family: 'Sigmar', cursive; */
    font-family: cocogoose-normal;
    margin: 10px;
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        /* Stack items vertically */
        align-items:end ;
        /* Center items vertically */
    }

    .col {
        margin: 10px 0;
        /* Vertical space between items */
    }
}


/* Tablet Screens */
@media screen and (min-width: 768px) {
    #hero {
        min-height: 400px;
    }
}

/* Desktop Screens */
@media screen and (min-width: 992px) {
    #hero {
        min-height: 500px;
    }
}

/* Large Desktop Screens */
@media screen and (min-width: 1200px) {
    #hero {
        min-height: 600px;
    }
}

#hero-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
    margin: 0;
    width: 100%;
}

#hero-logo {
    background-image: url(./assets/images/pancakesPlaid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    width: 100%;
    /* Take full width of the parent container */
    height: 100%;

}

#hero-logo img {
    width: 50%;
}

#main {
    display: flex;
    align-items: stretch;
}

#big-pictures {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between;
}

#big-pictures img {
    width: 100%;  /* Take full width */
    object-fit: cover;  /* Ensures images cover their container without distorting */
    flex-grow: 1;
}

#header-logo {
    width: 10%;
}

#header-links-group {
    display: flex;
    justify-content: end;
    align-items: center;
}

#normal {
    font-family: cocogoose-normal;
}
#semilight {
    font-family: cocogoose-semilight;
}
#light {
    font-family: cocogoose-light;
}
#ultralight {
    font-family: cocogoose-ultralight;
}
#thin {
    font-family: cocogoose-thin;
}

#contact-us-link {
    float: right;
    margin: 10px;
}

#contact-us {
    font-size: 3em;
    margin: 5px;
    padding: 5px;
}

#trust-images {
    background-color: var(--light-red);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}

#trust-images img {
    max-width: 100px;
    max-height: auto;
    margin: 10px 0px;
}

#header-logo-link {
    background-color: transparent; /* Remove the background color */
    width: 100%; /* Fill the entire width of the parent container */
    height: 100%; /* Fill the entire height of the parent container */
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo-link img {
    max-width: 100px;
    max-height: auto;
}

#extra-pictures {
    background-color: var(--light-red);
}

#extra-pictures .row {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of columns */
    overflow-x: auto; /* Allow horizontal scrolling if the content overflows */
    width: 100%; /* Take up the whole screen width */
    justify-content: center; /* Center the row horizontally */
    justify-content: space-evenly;
}
#extra-pictures img {
    max-width: 200px;
    height: auto;
    margin: 10px;
}
