img {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
}

h1 {
    font-family: 'Sigmar', cursive;
}

h2 {
    font-family: 'Sigmar', cursive;
}

main p {
    font-size: x-large;
}